<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService_UserSoap" />
                <binding name="WebService_ViajeSoap" />
                <binding name="WebService_UserSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService_UserSoap2" />
                <binding name="WebService_ViajeSoap1">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService_ViajeSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/WebService.User.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_UserSoap"
                contract="CarMixWebService.WebService_UserSoap" name="WebService_UserSoap" />
            <endpoint address="http://localhost:9090/WebService.Viaje.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_ViajeSoap"
                contract="CarMixViajeService.WebService_ViajeSoap" name="WebService_ViajeSoap" />
            <endpoint address="https://156.35.98.41:8443/CarMix/WebService.User.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_UserSoap1"
                contract="UserHttps.WebService_UserSoap" name="WebService_UserSoap1" />
            <endpoint address="https://156.35.98.41:8443/CarMix/WebService.Viaje.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_ViajeSoap1"
                contract="ViajeHttps.WebService_ViajeSoap" name="WebService_ViajeSoap1" />
        </client>
    </system.serviceModel>
</configuration>