<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService_UserSoap" />
                <binding name="WebService_ViajeSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/WebService.User.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_UserSoap"
                contract="CarMixWebService.WebService_UserSoap" name="WebService_UserSoap" />
            <endpoint address="http://localhost:9090/WebService.Viaje.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService_ViajeSoap"
                contract="CarMixViajeService.WebService_ViajeSoap" name="WebService_ViajeSoap" />
        </client>
    </system.serviceModel>
</configuration>